<div class="container-register" style="max-width: 450px; margin-top: 5rem;">
  <h2 class="tui-text_h3">Rejoindre PMT</h2>

  <form (ngSubmit)="onSubmit()" class="tui-space_top-6">

    <div class="tui-space_bottom-4">
      <tui-textfield>
        <label tuiLabel>
          Nom d'utilisateur
        </label>
        <input
          tuiTextfield
          name="userName"
          [(ngModel)]="user.username"
          (ngModelChange)="validate('username')"
        />
      </tui-textfield>
    </div>

    <div class="tui-space_bottom-4">
      <tui-textfield>
        <label tuiLabel>
          Email
        </label>
        <input
          tuiTextfield
          type="email"
          name="email"
          [(ngModel)]="user.email"
          (ngModelChange)="validate('email')"
        />
      </tui-textfield>
    </div>

    <div class="tui-space_bottom-6">
      <tui-textfield>
        <label tuiLabel>
          Mot de passe
        </label>
        <input
          tuiTextfield
          type="password"
          name="password"
          [(ngModel)]="user.password"
          (ngModelChange)="validate('password')"
        />
      </tui-textfield>
    </div>

    @if (result().hasErrors()) {

      <tui-error
        [error]="result().getErrors('username')[0]">
      </tui-error>
    }

    <div class="tui-form__buttons tui-space_top-4">
      <button
        tuiButton
        type="submit"
        [disabled]="result().hasErrors() ||  result().hasErrors() ||
    !user.username ||
    !user.email ||
    !user.password"
      >
        Créer mon compte
      </button>
    </div>
  </form>
</div>
