<button
  tuiButton
  appearance="primary"
  size="m"
  type="button"
  (click)="openAddMemberDialog(addMember)"
  class="tui-space_bottom-6"
>
  Ajouter un membre
</button>

<ng-template #addMember >
  <div class="invite-dialog">

    <tui-textfield tuiTextfieldSize="m">
      <input
        tuiTextfield
        type="email"
        [(ngModel)]="form.email"
        (ngModelChange)="onInput('email')"
      />
      <label tuiLabel>Email de l'utilisateur</label>
    </tui-textfield>

    @if (getError('email'); as error) {
      <tui-error [error]="error"></tui-error>
    }

    <tui-textfield tuiChevron tuiTextfieldSize="m">
      <label tuiLabel>Rôle assigné</label>

      <input
        tuiSelect
        [(ngModel)]="form.roleName"
        (ngModelChange)="onInput('roleName')"
      />


      <tui-data-list-wrapper
        *tuiTextfieldDropdown
        new
        [items]="roles"
      />
    </tui-textfield>

    @if (getError('roleName'); as error) {
      <tui-error [error]="error"></tui-error>
    }

    <button
      tuiButton
      appearance="primary"
      type="button"
      class="tui-width_full"
      [disabled]="result().hasErrors() || isLoading()"
      (click)="submit()"
    >
      @if (isLoading()) {
        <tui-loader size="s" class="tui-space_right-2"></tui-loader>
      }
      Inviter au projet
    </button>

  </div>
</ng-template>
