<div tuiCardLarge class="project-card">

  <header tuiHeader class="project-card__header" >
    <h2 tuiTitle>{{ project().nom }}</h2>
    <div tuiSubtitle>
      Créé le {{ project().createdAt | date:'dd/MM/yyyy' }}
    </div>
  </header>

  <section class="project-card__description tui-space_vertical-4">
    {{ project().description }}
  </section>

  <footer class="project-card__actions">

    <button
      tuiButton
      appearance="primary"
      size="s"
      [routerLink]="['/projects', project().id]"
    >
      Ouvrir
    </button>

    @if (canDelete){
      <button
        tuiButton
        appearance="accent"
        size="s"
        iconStart="@tui.trash"
        (click)="onDelete.emit(project().id!)"
      >
        Supprimer
      </button>
    }



  </footer>

</div>
