<div class="container-login" >
  <h2 class="tui-text_h3">Connexion</h2>

  <form (ngSubmit)="onLogin()" class="tui-space_top-6">
    <div class="tui-space_bottom-4">


      <tui-textfield>
        <label tuiLabel>
          Email
        </label>
        <input tuiTextfield type="email" name="email" [(ngModel)]="credentials.email" />

      </tui-textfield>
    </div>

    <div class="tui-space_bottom-6">
      <tui-textfield>
        <label tuiLabel>
          Mot de passe
        </label>
        <input tuiTextfield type="password" name="paswword" [(ngModel)]="credentials.password" />

      </tui-textfield>
    </div>

    <button tuiButton type="submit" [appearance]="'primary'">
      Se connecter
    </button>
  </form>
</div>
