<div class="project-detail-page">
  <section class="project-detail-page__header">
    <h1 class="tui-text_h3">{{ project()?.nom }}</h1>
    <p class="tui-text_body-m">{{ project()?.description }}</p>
  </section>

  <div class="project-detail-page__grid">
    <section class="project-detail-page__members">
      <app-project-member-list
        [projectId]="projectId"
      />
    </section>

    <section class="project-detail-page__tasks">
      <app-tasks-list
        [projectId]="projectId"
      />
    </section>
  </div>
</div>
