<div class="tui-container">
  <div class="tui-row tui-row_s">
    <div class="tui-col_12">
      <h2 tuiTitle="l" class="tui-space_bottom-6">Membres du projet</h2>
    </div>
  </div>

  <tui-loader [overlay]="true" [showLoader]="isLoading()">
    <div class="tui-stack tui-stack_m">
      @for (member of members(); track member.id) {
        <div tuiCardLarge tuiAppearance="surface">
          <header tuiHeader>
            <tui-avatar
              size="m"
              [src]="member.user.userName"
              class="tui-space_right-3"
            ></tui-avatar>

            <div tuiTitle>
              {{ member.user.userName }}
              <div tuiSubtitle>
                <tui-badge appearance="neutral" size="m">
                  {{ member.role.name }}
                </tui-badge>
                <span class="tui-text_caption tui-space_left-2">
                                    Inscrit le {{ member.dateArrivee | date:'shortDate' }}
                                </span>
              </div>
            </div>

            <button
              tuiButton
              type="button"
              appearance="secondary-destructive"
              size="s"
              iconStart="tuiIconTrashLarge"
              (click)="deleteMember(member.id!)"
            >
              Retirer
            </button>
          </header>
        </div>
      } @empty {
        <div tuiCardLarge tuiAppearance="surface" class="tui-text_body-m">
          Aucun membre trouvé pour ce projet.
        </div>
      }
    </div>
  </tui-loader>
</div>
